@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

h1{
  text-align: center;
  text-decoration: underline;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

h3{
  font-family: 'Amatic SC', cursive;
  font-size: 28px;
}

p{
  font-size: 16px;
  margin-left: 5px;
  margin-bottom: -5px;
  padding: 0%;
}

button{
  background-color:#CD8987; /*New York Pink*/
  border: none;
  color: white;
  padding: 6px 15px 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-family:'Amatic SC', cursive;
}

input[type=text]{
  width: 25%;
  padding: 10px;
  border: 2px solid rgb(39, 39, 39);
  border-radius: 4px;
  margin:10px;
  font-size: 15px;
}

div.page{
  max-width: 600px;
  margin: auto;
  padding: 10px;
  
}